# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## Global files

# Ignore Visual Studio files
*.vs
*csproj.user

## Frontend files


# dependencies
Frontend/node_modules
Frontend//.pnp
Frontend/.pnp.js

# testing
Frontend//coverage

# production
Frontend//build

## Backend files


Backend/logs/

# Ignore build output
Backend/bin/
Backend/obj/

# Ignore NuGet packages
Backend/packages/

# Ignore ReSharper files
Backend/_ReSharper*/

# Ignore deployment and publishing files
Backend/*.publishproj
Backend/*.deployproj
Backend/*.nupkg

# Ignore temp and log files
Backend/*.tmp
Backend/*.log
Backend/*.vspscc
